.container{
    width: 100%;
    margin: auto;
}
.row{
    display: flex;
    text-align: center;
    
}
.col-3{
    width: 25%;
    min-height: 50px;
}
.col-4{
    width: 33.33333%;

    min-height: 50px;
}
.col-12{
    width: 200%;
     background-color: rgb(241, 244, 247);
    min-height: 50px;
}
p{
    text-align: center;
  color: rgb(10, 10, 38);
}
ul{
    text-align: left;
  color: rgb(5, 5, 7);
}
.justify-center{
    justify-content: center;
}
.wrap-wrap{
    flex-wrap: wrap;
}
.col{
    border: solid 1px rgb(243, 238, 238);
    min-height: 40px;
}
.header-top{
    background-color: #062b68;
    min-height: 80px;
}
.queries-section{
    background-color:#f2f5f8;
    min-height: 80px;
}
.about{
    background-color:#ebedf1;
    min-height: 500px;
}
.academicexcellence,.a{
    background-color:#062b68;
    min-width: 1000px;
    font-family: bold;
    font-size: large;
    color:#ebedf1;
}   
.post{
    background-color:#ededf2;
    min-width: 1000px;
    min-height: 200%;
    text-align: center;
}
h1{
 font-weight: bolder;
 color:#ebedf1;

}
.footer{
    text-align: left;
    color: rgb(235, 235, 242);
    background-color: #062b68;
    min-height 1000px;

}
.search{
    background-color: #f1eaee;
    min-height 500px;

}
.copytext{
    text-align: left;
    color: rgb(17, 17, 120);
    background-color: #062b68;
    min-height 1000px;

}






